<html>
	<head>
		<title>Codestagram - 404</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	</head>
	<body>
		<div class="notfound">
			<h1 class="notfound-title">You Seem Lost Friend</h1>
			<a class="notfound-link" href="/">Go back home</a>
		</div>
	</body>
</html>
