<html>
	<head>
		<title>Codestagram</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	</head>
	<body>
		<div class="home">
			<h1 class="home-title">Codestagram</h1>
			<form class="home-form" method="post" enctype="multipart/form-data">
				<% if (typeof error !== "undefined") { %>
					<p class="home-form-error"><%- error.message %></p>
				<% } %>
				<label class="home-form-file">
					<div class="home-form-file-label">Choose a file</div>
					<input class="home-form-file-input" name="image" type="file"/>
				</label>
				<button class="home-form-submit">Submit</button>
			</form>
		</div>
	</body>
</html>
